body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.affected-area {
    background: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.crop-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
div{
    width: 200px;
    height: 200px;
    display: inline-block;
}

section{
    width: 700px;
    height: 750px;
    display: inline-block;
}
footer {
    text-align: center;
    padding: 15px 0;
    background: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
